body {
    padding: 0;
    margin: 2% auto;
    line-height: 1.4;
    text-shadow: 0 1px 0 #ffffff;
    max-width: 850px;
    font-size: 18px;
    color:#444;
}

p {
    text-align: justify;
}

p.url {
    font-size: 75%;
}

p.summary {
    font-size: 70%;
}
