body {
    padding: 0;
    margin: 5% auto;
    line-height: 1.6;
    text-shadow: 0 1px 0 #ffffff;
    max-width: 700px;
    font-size: 18px;
    color:#444;
    text-align: justify;
}

p.url {
    font-size: 75%;
}

p.summary {
    font-size: 70%;
}
